
src/Shelter\.Auth/Shelter\.Auth\.Core/obj/

src/Shelter\.Auth/Shelter\.Auth\.Web/obj/

src/Shelter/Shelter\.Core/obj/

src/Shelter/Shelter\.Data/obj/

src/Shelter/Shelter\.Localization/obj/

src/Shelter/Shelter\.Validation/obj/

src/Shelter/Shelter\.Web/obj/

src/Shelter\.Auth/Shelter\.Auth\.Core/bin/Debug/netcoreapp2\.1/

src/Shelter\.Auth/Shelter\.Auth\.Data/bin/Debug/netcoreapp2\.1/

src/Shelter\.Auth/Shelter\.Auth\.Data/obj/Debug/netcoreapp2\.1/

src/Shelter\.Auth/Shelter\.Auth\.Data/obj/Debug/netstandard2\.0/

src/Shelter\.Auth/Shelter\.Auth\.Data/obj/

src/Shelter\.Auth/Shelter\.Auth\.Web/bin/Debug/netcoreapp2\.1/

src/Shelter/Shelter\.Core/bin/Debug/netcoreapp2\.1/

src/Shelter/Shelter\.Data/bin/Debug/netcoreapp2\.1/

src/Shelter/Shelter\.Localization/bin/Debug/netcoreapp2\.1/

src/Shelter/Shelter\.Validation/bin/Debug/netcoreapp2\.1/

src/Shelter/Shelter\.Web/bin/Debug/netcoreapp2\.1/

Shelter/\.idea/\.idea\.Shelter/\.idea/

Shelter/\.idea/\.idea\.Shelter/
